window {
    margin: 0px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
}

#inner-box {
    margin: 5px;
    border: none;
}

#outer-box {
    margin: 5px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
}

#entry:selected {
    margin: 0px;
    border-radius: 10px;
    border: none;
}
